.footer .container {
    font-family: Roboto, sans-serif;
    background: black;
    display: flex;
    justify-content: space-between;
}
.footer__section {}
.footer__title {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.82px;
    text-transform: uppercase;
    margin-bottom: 18px;
}
.footer__list {
    list-style-type: none;
    padding: 0;
}
.links {}
.links__item {}
.footer__link {
    font-size: 12px;
    font-weight: 400;
    line-height: 160%;
    text-decoration: none;
}
.footer__icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    gap: 46px;
}
.footer__icon {}
.footer__text {}
.products {}
.software {}
.resources {}
.follow-us {
    text-align: right;
}
@media (max-width: 600px) {
    .footer .container {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: left;
    }
    .footer__section {
        width: 50%;
    }
    .footer__icons {
        justify-content: left;
    }
    .footer__text {
        display: none;
    }
    .products {
        height: 100%;
    }
    .follow-us .footer__title {
        display: none;
    }
}